<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Quiz</h1>
    </header>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div id="form">
            <form>
                <label for="s_quiz">Select Quiz:</label>
                <select id="s_quiz" name="s_quiz">
                    <option value="cloud_quiz.txt">Cloud Computing</option>
                </select>
                <br>
                <label for="n_question">Number of Questions:</label>
                <input type="number" id="n_question" name="n_question" required>
                <br>
                <button type="button" id="startButton" onclick="startQuiz()">Start</button>
            </form>
        </div>
        <div id="quiz"></div>
        <button id="nextButton" onclick="nextQuestion()" style="display: none;">Next</button>
        <div id="result"></div>
        <div id="review" style="display: none;"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
